# ------ Backend (Spring Boot) ------
/target/
**/mvnw
**/mvnw.cmd
**/.mvn
**/application.properties
**/application-dev.properties
**/logs/
*.jar
*.war
*.ear
*.class
*.iml
.idea/
.settings/
.DS_Store

# ------ Frontend (Ionic/Angular) ------
/node_modules/
/www/
/dist/
/.angular/cache
/.capacitor/
/.ionic/
/.vscode/
*.log
.env

# ------ General ------
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
